<form [formGroup]="formGroup">
    <div class="form-subheading">
        <mat-card-title class="asn-mat-card-title">
            Details Child5
        </mat-card-title>
    </div>
    <div formArrayName="c5">
        <div fxLayout="row" fxLayoutGap="20px" *ngFor="let t of c5; let j=index" [formGroupName]="j">

            <span>formGroupName = {{j}}</span>
            <mat-expansion-panel>
                <mat-expansion-panel-header class="lin-panel-header">
                    <mat-panel-title>
                        Child 5
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field appearance="fill" fxFlex="30">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="10">
                    <mat-label>Age</mat-label>
                    <input matInput formControlName="age">
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="30">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address">
                </mat-form-field>
            </mat-expansion-panel>
        </div>
    </div>

    <mat-card-actions>
        <button type="button" mat-raised-button>
            Add C5
        </button>
    </mat-card-actions>
</form>
