<mat-card>
    <mat-card-content>
        <form [formGroup]="service.form">

            <mat-form-field appearance="fill" fxFlex="20">
                <mat-label>Document Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <div fxLayout="column" fxLayoutGap="10px"
                 *ngFor="let line of detailFormsControls; let i=index"> <!--[formGroupName]="i">-->

                <mat-expansion-panel expanded="false">
                    <mat-expansion-panel-header>
                        <span>{{line.value.type}} - formGroupName : {{i}}</span>
                    </mat-expansion-panel-header>
                    <div *ngIf="line.value.type === 'A'">
                        <app-child1 [i]="i"></app-child1>
                        <app-child2 [i]="i"></app-child2>
                        <app-child3 [i]="i"></app-child3>
                        <app-child4 [i]="i"></app-child4>
                        <app-child5 [i]="i"></app-child5>
                    </div>

                    <div *ngIf="line.value.type === 'B'">
                        <app-child1 [i]="i"></app-child1>
                        <app-child2 [i]="i"></app-child2>
                    </div>

                    <div *ngIf="line.value.type === 'C'">
                        <app-child1 [i]="i"></app-child1>
                        <app-child2 [i]="i"></app-child2>
                        <app-child3 [i]="i"></app-child3>
                    </div>

                    <div *ngIf="line.value.type === 'D'">
                        <app-child1 [i]="i"></app-child1>
                        <app-child2 [i]="i"></app-child2>
                        <app-child3 [i]="i"></app-child3>
                        <app-child4 [i]="i"></app-child4>
                    </div>

                    <div *ngIf="line.value.type === 'E'">
                        <app-child1 [i]="i"></app-child1>
                        <app-child2 [i]="i"></app-child2>
                        <app-child3 [i]="i"></app-child3>
                        <app-child4 [i]="i"></app-child4>
                        <app-child5 [i]="i"></app-child5>
                    </div>
                </mat-expansion-panel>
            </div>
        </form>
    </mat-card-content>
</mat-card>
